*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(CT.jpg);
    background-position: center;
    background-size:cover;
    font-family: sans-serif;
    background-attachment: fixed;
}
header{
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;
    font-size: 25px;
}